<h1>Library</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="books" routerLinkActive="active" ariaCurrentWhenActive="page">All books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="createbook" routerLinkActive="active" ariaCurrentWhenActive="page">Register new book</a>
                </li>
            </ul>
        </div>
    </div>
</nav>