<div class="container">
    <div>
        <label for="sortOptions">Sort by:</label>
        <select id="sortOptions" (change)="onSortChange($event)">
            <option value="title">Title</option>
            <option value="available">Available</option>
            <option value="author">Author</option>
        </select>
    </div>
    <div *ngIf="apiResponse.isSuccess">
        <p *ngFor="let book of apiResponse.result">
            {{ book.title }} by {{ book.author }}
            <span *ngIf="book.available" class="btn btn-success">Is available</span>
            <span *ngIf="book.available === false" class="btn btn-danger">Is not available</span>
            <button type="button" (click)="goToDetails(book.id)">Details</button>
        </p>
        
    </div>
    <div *ngIf="!apiResponse.isSuccess && apiResponse.errorList">
        <span>
            Error: {{ apiResponse.errorList }}
        </span>
    </div>
</div>  
